/*iconfontĬ����ʽ*/
.icon {
  width: 1em; height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
  }
/* ҳ�ź�����ᶯ�� */
.copyright svg{
  animation:butterfly 1s linear infinite alternate;
}
@keyframes butterfly {
  from {
    transform:rotateY(70deg);
  }
  to {
    transform:rotateY(0deg);
  }
}

/* 首页文章卡片 */
#recent-posts > .recent-post-item{
  background:rgba(255, 255, 255, 0.8);
}
/* 首页侧栏卡片 */
.card-widget{
background:rgba(255, 255, 255, 0.8)!important;
}
/* 文章页面正文背景 */
div#post{
background: rgba(255, 255, 255, 0.8);
}
/* 分页页面 */
div#page{
background: rgba(255, 255, 255, 0.8);
}
/* 归档页面 */
div#archive{
background: rgba(255, 255, 255, 0.8);
}
/* 标签页面 */
div#tag{
background: rgba(255, 255, 255, 0.8);
}
/* 分类页面 */
div#category{
background: rgba(255, 255, 255, 0.8);
}

/* 页脚透明 */
#footer{
  background: transparent!important;
}
/* 头图透明 */
#page-header{
  background: transparent!important;
}
/*白天模式伪类遮罩层透明*/
[data-theme="light"]
  #footer::before{
      background: transparent!important;
    }
/*夜间模式伪类遮罩层透明*/
[data-theme="dark"]
  #footer::before{
      background: transparent!important;
    }
[data-theme="dark"]
  #page-header::before{
    background: transparent!important;
    }
/*夜间模式页面背景设置为半透明*/
[data-theme="dark"]
  div.recent-post-item{
      background: rgba(0, 0, 0, 0.5)!important;
    }
[data-theme="dark"]
  #aside-content .card-widget{
      background: rgba(0, 0, 0, 0.5)!important;
    }
[data-theme="dark"]
  div#post{
    background: rgba(0, 0, 0, 0.5)!important;
    }
[data-theme="dark"]
  div#page{
    background: rgba(0, 0, 0, 0.5)!important;
    }
[data-theme="dark"]
  div#archive{
    background: rgba(0, 0, 0, 0.5)!important;
    }
/*阅读模式*/
.read-mode #aside-content .card-widget{
      background: rgba(158, 204, 171, 0.5)!important;
    }
.read-mode div#post{
    background: rgba(158, 204, 171, 0.5)!important;
    }
/*夜间阅读模式*/
[data-theme="dark"]
  .read-mode #aside-content .card-widget{
        background: rgba(0, 0, 0, 0.5)!important;
        color: #eeeeee;
      }
[data-theme="dark"]  
  .read-mode div#post{
      background: rgba(0, 0, 0, 0.5)!important;
      color: #eeeeee;
      }
/* 设置白天模式的友链样式 */
div.flink-list-item{
  border: 1px solid #98d3d370;
  box-shadow: 5px 5px 5px #a0a0a0;
  /*底色*/
  background-color:#00000000;
  /*chrome2+,safari4+;multiplecolorstops*/
  background-image:-webkit-gradient(linear,leftbottom,righttop,color-stop(0.32,#ce1ef170),color-stop(0.66,#0fe9e970),color-stop(0.83,#3e76aa70));
  /*chrome10+,safari5.1+*/
  background-image:-webkit-linear-gradient(45deg,#ce1ef170,#0fe9e970,#3e76aa70);
  /*firefox;multiplecolorstops*/
  background-image:-moz-linear-gradient(45deg,#ce1ef170,#0fe9e970,#3e76aa70);
  
}
/* 设置白天模式的友链遮罩层样式 */
div.flink-list-item::before{
  background: rgba(0, 0, 0, 0.2)!important;
}
/* 设置鼠标悬停友链时的字体颜色 */
span.flink-item-name:hover{
  color: #e95f10e1;
}
/* 设置夜间模式的友链样式 */
[data-theme="dark"]
  div.flink-list-item{
    box-shadow: 5px 5px 5px #c0c0c0a4;
  }
/* 设置夜间模式的友链遮罩层样式 */
[data-theme="dark"]
  div.flink-list-item::before{
    background: rgba(255, 255, 255, 0.2)!important;
  }


